<h3><%= @bat.tag_number %></h3>

<b>Nickname:</b> <%= @bat.nickname %><br>

<b>Species:</b> <%= @bat.species %><br>

<b>Date Found:</b> 
    <% if @bat.date_found != nil %>
        <%= @bat.date_found.to_s(:custom_datetime) %>
    <% end %> <br>

<b>Location:</b> <%= @bat.location %><br>

<b>Date Last Seen:</b> 
    <% if @bat.date_last_seen != nil %>
        <%= @bat.date_last_seen.to_s(:custom_datetime) %>
    <% end %><br>

<b>Weight In Grams:</b> <%= @bat.weight %><br>

<b>Age In Years:</b> <%= @bat.age %><br>

<b>Sex:</b> <%= @bat.sex %><br>

<b>Wing Span In CM:</b> <%= @bat.wing_span %><br>

<b>Colony Size:</b> <%= @bat.colony_size %><br>

<b>Conservation Status:</b> <%= @bat.conservation_status %><br>

<b>Presence of White Nose Syndrom:</b> <%= @bat.white_nose_syndrome %><br>

<b>Updated at:</b> 
    <% if @bat.updated_at != nil %>
        <%= @bat.updated_at.to_s(:custom_datetime) %>
    <% end %><br>

<b>Discovered by:</b> 
    <% if @bat.discoverer != nil %>
        <%= @bat.discoverer.name %><br><br>
    <% end %>

<% if logged_in? %>
    <h5>Field Notes:</h5>
    <%= render @notes %><br>

    <h6>New Field Note:</h6>
    <%= render partial: 'notes/form' %>
    <br>



    <% if admin? || @bat.discoverer_id == current_researcher.id %>
        <%= link_to 'Edit Bat', edit_bat_path(@bat), class: "btn btn-warning btn-sm active" %>
        <br><br>
        <%= button_to "Delete Bat", { action: "destroy", id: @bat.id }, class: "btn btn-danger btn-sm active",
                    method: :delete, data: { confirm: "Are you sure? This action is permanent" } %><br>

    <% end %>
<% end %>
