<h2><%= @researcher.name %></h2>

<b>Email:</b> <%= @researcher.email %><br>

<b>Address:</b> <%= @researcher.address %><br>

<b>Phone Number:</b> <%= @researcher.phone_number %><br>

<b>Organization:</b> <%= @researcher.organization_name %><br>

<b>Access Type:</b> <%= @researcher.access %><br><br>

<h4>Bats:</h4> 
    <ol>
        <% @researcher.discovered_bats.all.each do |bat| %>
            <li><%= link_to bat.tag_number, bat_path(bat), class: 'link-info' %></li>
        <% end %>
    </ol>
    <br>

<% if current_researcher.id == @researcher.id || admin? %>
    <%= link_to 'Edit Account', edit_researcher_path(@researcher), class: "btn btn-warning btn-sm active" %>
    <br>
    <br>
    <%= button_to "Delete Account", { action: "destroy", id: @researcher.id }, class: "btn btn-danger btn-sm active",
                method: :delete, data: { confirm: "Are you sure? This action is permanent" } %>

<% end %>
