<!DOCTYPE html>
<html>
  <head>
    <title>BatCloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Bat Cloud</title>
  </head>

  <body class="page-bg">
      <%= render partial: "layouts/navbar" %>
    <div class="wrapper">
  <!----------- START FLASH --------------->
    <% if !flash.empty?%>
      <% flash.each do |type, msg| %>  
        <div class="alert alert-<%=type%> text-center">
          <p><%= msg %></p>
        </div>
      <% end %>
    <% end %>
<!----------- END FLASH --------------->
    <%= yield %>

<!----------- START FOOTER --------------->   
    <footer class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container">
        <a class="nav-link" href="https://github.com/dotnotation/Bat_Cloud">
        <%= image_tag('GitHub-Mark-Light-64px.png', alt: "Github Logo", width: '25', height: '25') %>
        </a>
        <small>&copy; 2021 <strong>BatResearchersLog</strong></small>
      </div>
    </footer>

<!----------- END FOOTER --------------->

  </body>
</html>
